{% extends 'base.html' %} {% block content %}


<div class="ui center aligned grid">
    <div class="column">

        <form class="ui large form" method="POST" style="text-align: left;">
            {% csrf_token %}
            <div class="field">
                <label>Personal Code</label>
                <input name="personal_code" value="" /> <br />
            </div>

            <button class="ui fluid large purple submit button" type="submit">Delete</button>
        </form>
    </div>
</div>


<style type="text/css">
    body {
        background-color: #DADADA;
    }

    body>.grid {
        height: 90%;
    }

    .column {
        max-width: 500px;
    }
</style>

{% endblock %}