{% extends 'base.html' %} {% block content %}

<div class="ui center aligned grid">
    <div class="column">
        <h2 class="ui purple image header" style="display: block; padding-top: 30px; padding-bottom: 15px;">
            <div class="content">
                {{ employee.first_name }} {{ employee.last_name }} (id={{ employee.id }})
            </div>
        </h2>
        <form class="ui large form" method="POST" style="text-align: left;">
            {% csrf_token %}
            <div class="field">
                <label>ID</label>
                <input name="id" value="{{ employee.id }}" readonly />
            </div>
            <div class="field">
                <label>First Name</label>
                <input name="first_name" value="{{ employee.first_name }}" pattern="[a-zA-Z]{3,30}" />
            </div>
            <div class="field">
                <label>Last Name</label>
                <input name="last_name" value="{{ employee.last_name }}" pattern="[a-zA-Z]{3,30}" />
            </div>
            <div class="field">
                <label>National Code</label>
                <input name="national_code" value="{{ employee.national_code }}" pattern="[0-9]{10}" />
            </div>
            <div class="field">
                <label>Personal Code</label>
                <input name="personal_code" value="{{ employee.personal_code }}" pattern="[0-9]{5}" />
            </div>
            <div class="field">
                <label>Phone Number</label>
                <input name="phone_number" value="{{ employee.phone_number }}" pattern="[0-9]{10}" />
            </div>
            <div class="field">
                <label>Address</label>
                <input name="address" value="{{ employee.address }}" pattern=".{5, 100}" />
            </div>
            <div class="field">
                <label>Age</label>
                <input name="age" value="{{ employee.age }}" pattern="[0-9]{1,2}" />
            </div>
            <div class="field">
                <label>Wage</label>
                <input name="wage" value="{{ employee.wage }}" pattern="[0-9]{1, 15}" />
            </div>
            <div class="field">
                <label>Gender</label>
                <select class="ui dropdown">
                    <option value="">Select Your Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>

            <div class="ui segment">
                <div class="field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" name="married" tabindex="0" value="{{ employee.married }}">
                        <label>I Am Married!</label>
                    </div>
                </div>
            </div>

            <button class="ui fluid large purple submit button">Update</button>
        </form>

    </div>
</div>


<style type="text/css">
    body {
        background-color: #DADADA;
    }

    body>.grid {
        height: 90%;
    }

    .column {
        max-width: 500px;
    }
</style>


{% endblock %}