{% extends 'base.html' %} {% block content %}

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui purple image header">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form class="ui large form" method="post">
      {% csrf_token %}
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <button class="ui fluid large purple submit button" type="submit"> Login </button>
      </div>
      <div class="ui error message"></div>
    </form>

  </div>
</div>




<style type="text/css">
  body {
    background-color: #DADADA;
  }

  body>.grid {
    height: 100%;
  }

  .image {
    margin-top: -100px;
  }

  .column {
    max-width: 450px;
  }
</style>



{% endblock %}