.login-panel
    margin auto
    display flex
    flex-direction column
    justify-content center
    align-items center
    width 250px

.input-field
    text-align center
    margin-top 20px
    font-size 25px
    padding 10px 30px 10px 30px

.input-field:valid
    background rgba(green, 0.3)

.input-field:invalid
    background rgba(red, 0.3)

.button-field
    margin-top 30px
    padding 10px
    font-size 25px
    width 200px